<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">   </head>
<body>
    <div style="display: flex;justify-content: center; margin:2cm; flex-wrap:wrap" >

<% for( let index = 0; index < data.length; index++ ) { %>
<div class="card" style="width: 18rem;margin:0.75cm">
  <div class="card-body">
    <h5 class="card-title"> <%= data[index].title %> </h5>
    
    <p class="card-text">its always good to read full content therefore click on the link to go to see the full content.</p>
    <a href=/separate/<%=index %> class="card-link">See full</a>
  </div>
</div>
<% } %> 
    </div>

</body>
</html>